# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\数据库原理\project\task3_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
